<div>
  <div class="container-fluid">
    <ul id="wire"></ul>
  </div>
  <div class="container">
    <br>
    <div id="sharath">
      <div class="row">
        <div class="col-8">
          <h2 style='color:chocolate;font-family:sans-serif;'> Sharath Kumar </h2>
        </div>
        <div class="col-4">
          <button type="button" id="dark-mode-toggle" class="btn btn-md float-right">
            <img src="/assets/img/moon.svg" alt="Moon Icon" id="moon-icon" class="hidden">
            <img src="/assets/img/sun.svg" alt="Sun Icon" id="sun-icon">
          </button>

        </div>
        <!-- <div class="col-1">
                      <button type="button" class="btn btn-md hire-me" data-toggle="modal"
                          data-target="#MyModal">Hire Me!</button>
                  </div> -->


      </div>
      <div id="s"> Full Stack Developer </div>
    </div>

    <div id="MyModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title"> Thank You </h3>
            <button class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body"> You have made the right choice! </div>
          <div class="modal-footer">
            <a style='background: none' href="mailto:sharath.java10@gmail.com"><button class="btn btn-primary"
                style="border-radius: 5px">Send Me an Email</button></a>
            <button class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <hr size="100">

    <blockquote class="blockquote" style="font-size:16px;font-family:sans-serif"> OBJECTIVE : To effectively utilize
      my skills and qualifications to contribute significantly to an organization where I can pursue and upgrade
      technology oriented career, as well as long-term growth through relentless pursuit of learning and
      perfection. </blockquote>
    <hr>

    <div class="container">
      <h4 id="Education" class='text-center head1'>EDUCATION</h4>
      <dl>
        <dt style='color:burlywood'> Masters in Applied Computer Science<span style="float:right"></span>
        </dt>
        <dd>Northwest Missouri State University, Missouri, USA. <span style="float:right">GPA: 3.55/4.00</span>
        </dd>
      </dl>
      <dl>
        <dt style='color:burlywood'> Bachelor of Technology in Information Technology<span style="float:right"></span>
        </dt>
        <dd>J.B. Institute of Engineering and Technology (JBIT), Hyderabad, India.<span style="float:right">Grade:
            75.43%</span> </dd>
      </dl>


      <hr>
      <h4 id="Tech-skills" class='text-center head1'>TECHNICAL SKILLS</h4>

      <div class="row">
        <div class="col-md-4"><strong> Programming Languages:</strong></div>
        <div class="col-md-8">C, C++, JavaScript, Python, Java</div>
      </div>

      <div class="row">
        <div class="col-md-4"><strong>Databases:</strong></div>
        <div class="col-md-8"> MongoDB, PostGreSQL, MySQL, Oracle</div>
      </div>

      <div class="row">
        <div class="col-md-4"><strong>Web Technologies:</strong></div>
        <div class="col-md-8">HTML5, CSS3, JavaScript, JQuery, Ajax </div>
      </div>

      <div class="row">
        <div class="col-md-4"><strong> JavaScript Frameworks & Libraries:</strong></div>
        <div class="col-md-8"> Angular, Node JS, Express JS, React JS</div>
      </div>

      <div class="row">
        <div class="col-md-4"><strong>Operating Systems:</strong></div>
        <div class="col-md-8">Windows family, Linux (Ubuntu), Mac</div>
      </div>
      <div class="row">
        <div class="col-md-4"><strong>Tools and Frameworks:</strong></div>
        <div class="col-md-8"> Mongoose, Sequelize, Docker, Kubernetes, JEST, Jenkins, SonarQube</div>
      </div>
      <div class="row">
        <div class="col-md-4"><strong>Other Applications:</strong></div>
        <div class="col-md-8"> VS Code, MS Office, Google tools and apps, Azure, Adobe Photoshop</div>
      </div>

      <hr>

      <div class="container">
        <h4 id="Projects" class="text-center head1">PROJECTS</h4>
        <ul class="nav nav-pills justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="#project1" data-toggle="tab">Project 4</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#project2" data-toggle="tab">Project 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#project3" data-toggle="tab">Project 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#project4" data-toggle="tab">Project 1</a>
          </li>
        </ul>
        <div class="tab-content py-3">
          <div class="tab-pane active" id="project1">
            <dl>
              <dt> Kaiser Permanente, Pleasanton, CA <span style="float:right">Jul'18 – Present</span>
                <br>
                Role: Full Stack Developer
              </dt>
              <dd>
                <br>
                <ul class="job-duties">
                  <li>
                    Involved in the analysis, design, and development and testing phases of Software
                    resulting in multiple stable releases and more efficient systems.
                  </li>
                  <li>
                    Worked on multiple projects utilizing technologies such as
                    <strong>Angular</strong>, <strong>React</strong>, <strong>Node JS</strong>, and
                    <strong>Java Spring Boot</strong>.
                  </li>
                  <li>
                    Built Backend for Frontend (BFF) applications using Core Java concepts along
                    with <strong>Spring Boot</strong>.
                  </li>
                  <li>
                    Used J2EE concepts like <strong>JSPs</strong>, <strong>servlets</strong>, and
                    <strong>MVC</strong> architecture.
                  </li>
                  <li>
                    Used <strong>Node JS</strong>, <strong>Express JS</strong>, and <strong>Mongo
                      DB</strong> along with <strong>Mongoose</strong> to create server-side
                    applications.
                  </li>
                  <li>
                    Designed and documented <strong>REST/HTTP APIs</strong>, including JSON data
                    formats and API versioning strategy.
                  </li>
                  <li>
                    Used <strong>React</strong> to create reusable and modular UI components,
                    enhancing the website's maintainability and scalability.
                  </li>
                  <li>
                    Implemented code splitting and lazy loading techniques with
                    <strong>webpack</strong> for faster build and optimized package loading.
                  </li>
                  <li>
                    Implemented complex user interfaces and data-driven views with
                    <strong>Angular's</strong> powerful data binding and template syntax, resulting
                    in intuitive and efficient user interactions.
                  </li>
                  <li>
                    Utilized <strong>Angular CLI</strong> to efficiently scaffold and manage Angular
                    projects, optimizing development workflow and project structure.
                  </li>
                  <li>
                    Implemented mobile-first design principles to create websites optimized for
                    mobile devices, improving user engagement and accessibility.
                  </li>
                  <li>
                    Utilized media queries and flexible layout techniques to build mobile-friendly
                    web pages that adapt to different screen resolutions.
                  </li>
                  <li>
                    Conducted thorough testing and debugging on multiple mobile devices and browsers
                    to ensure consistent functionality and visual integrity.
                  </li>
                  <li>
                    Implemented observable-based solutions with <strong>RxJS</strong>, enabling
                    efficient handling of complex data flows and enabling real-time updates in
                    Angular projects.
                  </li>
                  <li>
                    Designed and coded customized <strong>React components</strong> to interact with
                    the backend API and server components.
                  </li>
                  <li>
                    Extensive experience in working with <strong>Redux</strong> as a state
                    management library for React applications.
                  </li>
                  <li>
                    Proficient in setting up and configuring the <strong>Redux store</strong> to
                    manage application state effectively.
                  </li>
                  <li>
                    Successfully handled various <strong>ADA</strong> issues across multiple
                    browsers and devices.
                  </li>
                  <li>
                    Done client-side form validations, generating cookies, validating the user.
                  </li>
                  <li>
                    Used <strong>Adobe Experience Manager (CMS)</strong> to publish content for
                    different regions, languages, for different environments.
                  </li>
                  <li>
                    Developed applications which can be easily used by visually impaired people
                    using ADA standards.
                  </li>
                  <li>
                    Developed <strong>Restful-based web services</strong> and used JSON as the
                    communication for REST mechanism.
                  </li>
                  <li>
                    Developed & Consumed <strong>RESTful Web Services</strong>.
                  </li>
                  <li>
                    Demonstrated expertise in implementing and adhering to the <strong>Web Content
                      Accessibility Guidelines (WCAG) 2.0 and 2.1</strong> to ensure web
                    accessibility for all users, including those with disabilities.
                  </li>
                  <li>
                    Extensive experience in testing web applications with various assistive
                    technologies, such as screen readers, voice recognition software, and
                    keyboard-only navigation, to validate accessibility compliance.
                  </li>
                  <li>
                    Used <strong>GIT (GitHub)</strong> for version control.
                  </li>
                  <li>
                    Improved the Performance, Availability of an Application’s Database by using
                    <strong>NoSQL Database such as Mongo DB</strong>.
                  </li>
                  <li>
                    Successfully handled cross-browser compatibility in different browsers like
                    Safari, Internet Explorer, Firefox, and Chrome.
                  </li>
                  <li>
                    Used <strong>React Router DOM</strong> to manage all the routes to the
                    application.
                  </li>
                  <li>
                    Responsible for designing <strong>SPAs</strong> with using React as a Library
                    along with HTML and CSS.
                  </li>
                  <li>
                    Used <strong>Karma</strong> and <strong>Jasmine</strong> for automated tests
                    along with using Maven and Jenkins for automated tasks.
                  </li>
                  <li>
                    Used Jenkins - <strong>SonarQube</strong> for test coverage and made sure the
                    coverage is greater than 85% throughout the application.
                  </li>
                  <li>
                    Used <strong>GraphQL</strong> to get data from the backend for some of the
                    API’s, aka BFF’s.
                  </li>
                  <li>
                    Migrated from <strong>IBM Bluemix</strong> to <strong>Microsoft Azure</strong>
                    for running the backend Node JS application.
                  </li>
                  <li>
                    Used <strong>Kubernetes (Kubectl commands)</strong> to manage instances.
                  </li>
                  <li>
                    Contributed to <strong>Java Spring Boot</strong> application development in
                    response to KP management's decision to use Java for future applications.
                  </li>
                </ul>

              </dd>
            </dl>
          </div>
          <div class="tab-pane" id="project2">
            <dl>
              <dt> Dell EMC, Round Rock, TX <span style="float:right"> Jun 17 – Jul 18 </span>
                <br>
                Role: Full Stack Developer
              </dt>
              <dd>
                <br>
                <ul class="job-duties">
                  <li>
                    Involved in the analysis, design, and development and testing phases of Software
                    resulting in multiple stable releases and more efficient systems.
                  </li>
                  <li>
                    Developed Dynamic and robust UI using <strong>React</strong>, <strong>Meteor
                      JS</strong>, <strong>HTML</strong>, <strong>CSS</strong>,
                    <strong>SASS</strong>, <strong>JavaScript</strong>, <strong>jQuery</strong> by
                    connecting backend APIs with JSON.
                  </li>
                  <li>
                    Used <strong>Node JS</strong>, <strong>Express JS</strong>, and <strong>Mongo
                      DB</strong> along with <strong>Mongoose</strong> to create server-side
                    applications.
                  </li>
                  <li>
                    Worked on an <strong>Agile</strong> development team building a suite of
                    applications.
                  </li>
                  <li>
                    Developed and maintained modular, reusable, and performant <strong>React
                      components</strong>, adhering to best practices and coding standards.
                  </li>
                  <li>
                    Integrated external APIs and services into <strong>React components</strong> to
                    fetch and display dynamic data from backend systems.
                  </li>
                  <li>
                    Utilized React's "<strong>props</strong>" and "<strong>state</strong>" to manage
                    data flow and render dynamic content in the application.
                  </li>
                  <li>
                    Used markup languages like <strong>HTML</strong> and JavaScript frameworks like
                    <strong>Meteor JS</strong> to create user-friendly web pages.
                  </li>
                  <li>
                    Collaborated with back-end developers and web designers to improve usability.
                  </li>
                  <li>
                    Wrote automated test scripts using <strong>Mocha</strong> framework and
                    <strong>Chai</strong> assertion library.
                  </li>
                  <li>
                    Set up the Continuous Integration/Continuous Deployment process using tools like
                    <strong>TeamCity</strong> and <strong>Octopus</strong>.
                  </li>
                  <li>
                    Created Training Mode for the website to train new users on how to use the
                    application.
                  </li>
                  <li>
                    Created smooth, interactive visualization charts using technologies like
                    <strong>D3.js</strong>.
                  </li>
                  <li>
                    Developed a data visualization project utilizing <strong>D3.js</strong> library
                    to create interactive and dynamic visual representations of complex datasets.
                  </li>
                  <li>
                    Implemented advanced <strong>D3.js</strong> features such as transitions,
                    tooltips, and interactive behaviors to enhance user engagement and understanding
                    of the data.
                  </li>
                  <li>
                    Parsed comma delimited .csv files and storing them in <strong>Mongo DB</strong>
                    collections.
                  </li>
                  <li>
                    Ensured the responsiveness of the website using complex queries and
                    <strong>Bootstrap</strong>.
                  </li>
                  <li>
                    Created downloadable pdf's and ppt's using technologies like
                    <strong>docxtemplater</strong>.
                  </li>
                  <li>
                    Used <strong>GIT</strong> for version control. Improved the Page Performance
                    drastically.
                  </li>
                  <li>
                    Used <strong>PHP</strong> as a scripting language to develop web applications.
                  </li>
                  <li>
                    Developed Restful-based web services and used <strong>JSON</strong> as the
                    communication for REST mechanism.
                  </li>
                  <li>
                    Coded <strong>Typescript</strong> and <strong>ES6</strong> supersets, mastered
                    <strong>Docker</strong> deployment in Cloud machine instances.
                  </li>
                  <li>
                    Developed & Consumed <strong>RESTful Web Services</strong>.
                  </li>
                  <li>
                    Improved the Performance, Availability of an Application’s Database by using
                    <strong>NoSQL Database</strong> such as <strong>Mongo DB</strong>.
                  </li>
                  <li>
                    Deployed applications in the cloud using <strong>AWS</strong>, regulated traffic
                    and other services using multiple <strong>AWS</strong> services.
                  </li>
                  <li>
                    Successfully handled cross-browser compatibility in different browsers like
                    Safari, Internet Explorer, Firefox, and Chrome.
                  </li>
                  <li>
                    Wrote unit test cases for the JavaScript code using <strong>Mocha</strong> & the
                    automated the application using the <strong>protractor</strong> e2e test as a
                    part of test-driven development.
                  </li>
                  <li>
                    Achieved client-side scripting which helps reduce server-side trips and thus
                    helps in the performance boost.
                  </li>
                </ul>
              </dd>
            </dl>
          </div>
          <div class="tab-pane" id="project3">
            <dl>
              <dt> Hector Systems, Laurel, MD <span style="float:right"> Dec 16 – Jun 17 </span>
                <br>
                Role: Web Developer
              </dt>
              <dd>
                <br>
                <ul class="job-duties">
                  <li>Used markup languages like <strong>HTML</strong> and <strong>JavaScript</strong>
                    frameworks to create user-friendly
                    web pages.</li>
                  <li>Successfully handled <strong> cross-browser compatibility</strong> in different
                    browsers.</li>
                  <li>Wrote unit test cases for the JavaScript code using <strong>Karma</strong>.</li>
                  <li>Involved in upgrading the application from <strong>Angular 2 to 4</strong>.</li>
                  <li>Used Advanced techniques of <strong>webpack 4</strong> for faster build and
                    optimized
                    packages.</li>
                  <li>Designed and coded customized <strong>Angular 2</strong> services to interact
                    with
                    the backend API
                    and server components.
                  </li>
                </ul>
              </dd>
            </dl>
          </div>
          <div class="tab-pane" id="project4">
            <dl>
              <dt> Broadridge, Hyderabad, IND <span style="float:right"> Aug 13 – Jul 15 </span>
                <br>
                Role: Front End Developer
              </dt>
              <dd>
                <br>
                <ul class="job-duties">
                  <li>Responsible for helping build a web application of the company’s platform by
                    leveraging technologies like <strong>HTML, CSS and JavaScript</strong></li>
                  <li>Building <strong>responsive websites</strong> using advanced media queries.</li>
                  <li>Involved in Design and Development of the software process.</li>
                  <li>User input validations done using JavaScript and developed use cases using UML.
                  </li>
                  <li>Unit testing and Regression Testing of Web Application and fixing the issues
                    involved in development. </li>
                  <li>Test case preparation Based on requirement Documents. Execution of test cases
                    and
                    Reporting bugs. </li>
                  <li>Maintaining the <strong>Bug reports</strong> and tracking the status of the
                    bugs.
                  </li>
                </ul>
              </dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="footer my-3 py-3" style="display:block;border:solid lightgrey 1px;padding:15px">
        <div class="row">
          <div class="col-md-4"> Mobile Number :
            (+1) 210-920-4308
          </div>
          <div class="col-md-4"> Email :
            kumar.sharath1224 gmail.com
          </div>
          <div class="col-md-4"><a href="https://www.linkedin.com/in/sharath-kumar24/">LinkedIn</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>