/* You can add global styles to this file, and also import other style files */
button,
.btn {
    cursor: pointer;
}

.modal-dialog {
    color: chocolate;
}

strong {
    color: burlywood;
}

nav a {
    color: chocolate;
}

.nav-link {
    text-align: center;
}

.head1 {
    margin-top: 10px;
    color: chocolate;
    font-size: 20px;
}

#sharath {
    margin-top: 60px;
}

dt {
    color: sandybrown;
}

#wire {
    text-align: center;
    white-space: nowrap;
    position: absolute;
    padding: 0;
    width: 100%;
    top: -80px;
    border-bottom: 3px solid #222;
    height: 100px;
}

#wire li {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 15px;
    height: 30px;
    border-radius: 50%;
    margin: 0px 15px;
    top: 102px;
    display: inline-block;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: even-flash;
}

#wire li:nth-child(odd) {
    animation-name: odd-flash;
}

#wire li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 10px;
    border-radius: 4px;
    top: -5px;
    left: 0px;
    background: #444;
}

@keyframes even-flash {

    0%,
    100% {
        background: rgba(255, 230, 65, 1);
        box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 1);
    }

    50% {
        background: rgba(255, 230, 65, 0.5);
        box-shadow: 0px 2px 20px 4px rgba(255, 230, 65, 0.3);
    }
}

@keyframes odd-flash {
    50% {
        background: rgba(255, 65, 185, 1);
        box-shadow: 0px 2px 20px 4px rgba(255, 65, 185, 1);
    }

    0%,
    100% {
        background: rgba(255, 65, 185, 0.5);
        box-shadow: 0px 2px 20px 4px rgba(255, 65, 185, 0.3);
    }
}

.fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

.social-media {
    position: fixed;
    right: 20px;
    top: 50%;
}

.social-row {
    padding: 20px;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

#wire {
    list-style-type: none;
    padding: 0;
}

#wire li {
    display: inline-block;
    margin-right: 10px;
}

.job-duties {
    padding-left: 1rem;
}

.modal-body {
    color: initial;
}


#s {
    /* Default styles for all form factors */
    /* background-color: yellow; */
    color: gray;
    font-size: 20px;
    font-family: sans-serif;
    margin: 0.5rem 0.1rem;
    display: inline-block;
}

/* Media query for small screens */
@media screen and (max-width: 767px) {
    #s {
        /* Styles for small screens */
        display: inline;
        font-size: 20px;
        margin: 0.1rem 0.1rem;
    }
}

/* Media query for medium screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #s {
        /* Styles for medium screens */
        display: inline;
        margin: 0.1rem 0.1rem;
    }
}

/* Media query for large screens */
@media screen and (min-width: 1024px) {
    #s {
        /* Styles for large screens */
        display: inline;
        margin: 0.1rem 0.1rem;
    }
}



/* Dark mode styles (default) */
:root {
    /* --background-color: #1a1a1a; */
    --background-color: black;
    /* Dark background color */
    --text-color: #ffffff;
    /* Dark text color */
}

/* Light mode styles */
.light-mode {
    --background-color: #ffffff;
    /* Light background color */
    --text-color: #000000;
    /* Light text color */

    .nav-link {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
}

a {
    background: black;
    color: white;
}

.light-mode a {
    background: white;
    color: black;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

#sun-icon,
#moon-icon {
    width: 22px;
    height: 22px;
}


.hidden {
    display: none;
}

.hire-me {
    font-size: 19px;
}